*{
	-fx-text-fill: #171717;
}
.root{
	-fx-background-color: #F4F5F9;
}
.cont-titulo{
	-fx-alignment: center;
}
.cont-titulo .label{
	-fx-font-size: 4em;       /* Tamaño del texto */
    -fx-text-fill: #6B4EFF;    /* Color del texto */
}
.button{
	-fx-background-color: #22C55E; 
	-fx-border-radius: 12px;		/* Bordes redondeados */
	-fx-text-fill: #F5F6F8;   
	-fx-font-weight: bold; /* negrita */
	-fx-padding: 8px 18px; 
}
.button:hover{
	-fx-background-color:#16A34A;
}

/*selector de etiqueta de iconos, aplica a todos */
.ikonli-font-icon {
    -fx-fill: white;       /* color del icono */
    -fx-font-size: 1.2em; /* tamaño del icono */
}

.search-box{
	-fx-background-color: #F9FAFB;
	-fx-border-color: #D1D5DB;
	-fx-border-radius: 10px;
	-fx-background-radius: 10px;	
	-fx-padding: 5px
}
.search-box .button{
	-fx-background-color: transparent;
}

.search-box .text-field{
	-fx-background-color: transparent;
	-fx-border-color: none;
}

.search-box .ikonli-font-icon{
	-fx-fill: #171717;
}


.table-view .column-header,  /*configurear la cabecera y label de un tableview */
.table-view .column-header .label {
	-fx-background-color: #6B4EFF; 
    -fx-text-fill: white; /* texto de la cabecera */
    -fx-font-weight: bold;
}
.table-row-cell:odd {
    -fx-background-color: #e9e9e9; /* Color para filas pares */
}

.table-row-cell:even {
    -fx-background-color: #ffffff; /* Color para filas impares */
}

.table-row-cell:selected {
    -fx-background-color: #8C73FF; /* Color para filas seleccionadas */
}





