*{
	-fx-text-fill: #171717;
}
.root{
	-fx-background-color: 
}
.cont-titulo{
	-fx-alignment: center;
}
.cont-titulo .label{
	-fx-font-size: 4em;       /* Tamaño del texto */
    -fx-text-fill: #6B4EFF;    /* Color del texto */
}
.button{
	-fx-background-color: #00FF00; 
	-fx-border-radius: 15px;		/* Bordes redondeados */
	-fx-text-fill: #F5F6F8;   
	-fx-font-weight: bold; /* negrita */
}
.button:hover{
	-fx-background-color:#04B90C;
}

/*selector de etiqueta de iconos, aplica a todos */
.ikonli-font-icon {
    -fx-fill: white;       /* color del icono */
    -fx-font-size: 1.2em; /* tamaño del icono */
}

.search-box{
	
}

.search-box .button{
	-fx-background-color: #ffffff;
	-fx-border-color: transparent;
    -fx-border-width: 0;
}

.search-box .ikonli-font-icon{
	-fx-text-fill: #171717;
}


.table-view .column-header,  /*configurear la cabecera y label de un tableview */
.table-view .column-header .label {
	-fx-background-color: #6B4EFF; 
    -fx-text-fill: white; /* texto de la cabecera */
    -fx-font-weight: bold;
}
.table-row-cell:odd {
    -fx-background-color: #e9e9e9; /* Color para filas pares */
}

.table-row-cell:even {
    -fx-background-color: #ffffff; /* Color para filas impares */
}

.table-row-cell:selected {
    -fx-background-color: #8C73FF; /* Color para filas seleccionadas */
}





