target/
!.mvn/wrapper/maven-wrapper.jar
!.mvn/wrapper/maven-wrapper.properties
*.class
*.log
*.jar
*.war
*.ear
*.iml
.idea/
.project
.classpath
.settings/
# Base de datos local
*.db

# Archivos personales
paleta de colores.txt
css2.txt
